EXTERNAL_URL={{ fz_server_url }}
DEFAULT_ADMIN_EMAIL={{ fz_admin }}
FZ_INSTALL_DIR={{ fz_firezone_dir }}
DEFAULT_ADMIN_PASSWORD={{ fz_admin_password }}
WIREGUARD_IPV4_NETWORK={{fz_client_subnet}}
WIREGUARD_IPV4_ADDRESS={{fz_client_subnet| ansible.utils.ipaddr('1')| ansible.utils.ipaddr('address')}}
FZ_PORT=13000
WIREGUARD_PORT={{fz_wireguard_port}}
PHOENIX_SECURE_COOKIES={{ fz_firezone_https | lower }}
