table inet dns_dnat_ipt_server {
    chain prerouting {
        type nat hook prerouting priority -100;
        ip daddr != 127.0.0.0/8 udp dport 53 dnat to {{ backend_ip }}:1053
        ip daddr != 127.0.0.0/8 tcp dport 53 dnat to {{ backend_ip }}:1053
    }
    chain postrouting {
        type nat hook postrouting priority 100;
        ip daddr {{ backend_ip }} udp dport 1053 masquerade
        ip daddr {{ backend_ip }} tcp dport 1053 masquerade
    }
}