IPT_INTERFACES_JSON={{ ipt_interfaces | to_json }}
IPT_ROUTES_JSON={{ ipt_routes | to_json }}
IPT_NIC_ATTACH={{ ipt_nic_attach | to_json }}
IPT_CLEAN_CONNTRACK={{ ipt_clean_conntrack | ternary('true', 'false') }}
IPT_DOMAIN_ROUTE_TTL={{ ipt_domain_route_ttl }}
