WG_INTERFACE={{ wireguard_interface_name }}
WG_ADDRESS={{ wireguard_address }}
WG_PRIVATE_KEY={{ wireguard_private_key }}
WG_TABLE={{ wireguard_table }}
WG_PEER_PUBLIC_KEY={{ wireguard_peer_public_key }}
WG_PEER_ALLOWED_IPS={{ wireguard_peer_allowed_ips if wireguard_peer_allowed_ips is string else wireguard_peer_allowed_ips | join(', ') }}
{% if wireguard_listen_port | default('') %}
WG_LISTEN_PORT={{ wireguard_listen_port }}
{% endif %}
{% if wireguard_peer_preshared_key | default('') %}
WG_PEER_PRESHARED_KEY={{ wireguard_peer_preshared_key }}
{% endif %}
{% if wireguard_peer_endpoint_host is defined and wireguard_peer_endpoint_host and wireguard_peer_listen_port is defined and wireguard_peer_listen_port %}
WG_PEER_ENDPOINT={{ wireguard_peer_endpoint_host }}:{{ wireguard_peer_listen_port }}
{% elif wireguard_peer_endpoint is defined and wireguard_peer_endpoint %}
WG_PEER_ENDPOINT={{ wireguard_peer_endpoint }}
{% endif %}
{% if wireguard_peer_persistent_keepalive | default('') %}
WG_PEER_PERSISTENT_KEEPALIVE={{ wireguard_peer_persistent_keepalive }}
{% endif %}
{% if wireguard_post_up | default('') %}
WG_POST_UP={{ wireguard_post_up }}
{% endif %}
{% if wireguard_pre_down | default('') %}
WG_PRE_DOWN={{ wireguard_pre_down }}
{% endif %}
WG_NIC_ATTACH={{ wireguard_nic_attach if wireguard_nic_attach is string else wireguard_nic_attach | tojson }}
